.btn-blue {
    background: blue;
    color: white;
    border-radius: 10px
}
.btn-red {
    color: white;
    background: red;
    border-radius: 10px
}
.btn-lg {
    padding: 15px;
}
.btn-sm {
    padding: 2px;
}

.btn {
    border: none;
    border-radius: 3px;
    margin: auto 0;
    padding: .5rem .75rem;
    flex-shrink: 0;
    cursor: pointer;
    font-size: .9rem;
    letter-spacing: .5px;
    transition: all .1s ease-in;
}

.btn-enviar {
    background: rgb(1, 160, 27);
}
