<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="aula-inicial.css">
    <title>Aula 01 - Vuejs do jeito ninja</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
        {{ titulo }}

        <p v-if="texto">
            Texto, texto, ...
        </p>

        <div>
            <ul>
                <li v-for="usuario in usuarios"> {{ usuario.nome | maiusculo('param2') }} </li>
            </ul>
        </div>

        <button type="button" :class="classBtn1" :style="styleBtn1">Botão 1</button>
        <button type="button" :class="classBtn2" :style="styleBtn2">Botão 2</button>
        
        <form action="https://www.google.com/">
            <button type="submit" class="btn btn-enviar" v-on:click.prevent.stop="enviar()">Enviar</button>
        </form>
        
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                usuarios: [
                    { nome: "Willian" }, { nome: "Ruan" }, { nome: "Victor" }
                ],
                texto: false,
                titulo: "Aula 01 - Vuejs do Jeito Ninja",
                classBtn1: [
                    'btn', 'btn-blue', { 'btn-lg': true }
                ],
                classBtn2: {
                    'btn': true,
                    'btn-red': true,
                    'btn-sm': true
                },
                styleBtn1: [
                    { 'font-size': '20px'},
                    { 'color': 'red'}
                ],
                styleBtn2: {
                    'font-size': '27px'
                }
            },

            filters: {
                maiusculo(str, param2) {
                    return str.toUpperCase();
                }
            },

            methods: {
                enviar() {
                    alert("Enviando...")
                }
            }
        });
    </script>
    
</body>
</html>